<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour{{else}}devour{{/if}}
	</button>
	<button class="devourbutton" data-id="{{id}}">Devour Burger</button>

</li>